/* ##   header */
.cgsfeedback-course-container {
  cursor: pointer;
  margin-top: 2px;
}
.st_table_header {
  background-color: #66a8d8;
  color: #fff;
  display: flex;
  align-items: center;
}
.st_table_header h2 {
  font-weight: 400;
  font-size: 1.25rem;
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.st_table_header span {
  font-size: 23px;
  line-height: 1;
  margin-top: -7px;
  margin-right: 10px;
}

.fade-table {
  transition: all 1s;
}
.fade-table.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
/* Hide images from the feedback block because they are broken,
   even if I changed the URL to be compatible with the parent
   view plugin
*/
.cgsfeedback-activities-container > img {
  display: none !important;
}
/* Loader */
#cgsfeedback-loading-container .spinner-border {
  display: block;
  margin: 20px auto;
}

/* Assessment table */
.cgsfeedback-activities-container .table thead th {
  border-top: 0 none;
}
.cgsfeedback-activities-container .gradeval {
  display: inline-block;
  border-radius: 20px;
  white-space: nowrap;
  padding: 0 8px;
  background: aliceblue;
}

.cgsfeedback-activities-container .cgsfeedback-module-title {
  width: 30%;
}

.cgsfeedback-instructions-container i {
    color:  #66a8d8;
    font-size: large;
    margin-left: 95%;
    cursor: pointer;
    margin-bottom: 20px;
}

.cgsfeedback-hide-instructions {
    display: none;
}