<div id = "cgsfeedback-loading-container" >
    <div class="spinner-border cgsfeedback-loading-courses" role="status" data-user = "{{userid}}" data-instanceid = "{{instanceid}}">
    <span class="sr-only">Loading...</span>
    </div>
</div>
{{#js}}
    require(['block_cgsfeedback/loadingcourses'], function(LoadingCourses) {
    LoadingCourses.init("{{user}}");
    });
{{/js}}
