{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   block_cgsfeedback
    @copyright 2023 Veronica Bermegui
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block_cgsfeedback/modules_tables
    CGSfeedback block modules_tables template.
    This template is rendered after an Ajax call.

}}

{{#courses}}
<div class="st_wrap_table">
  <div class="table-responsive cgsfeedback-activities-container" id="cgsfeedback-activities-container-{{courseid}}">
  <table class = "table">
    {{> block_cgsfeedback/effort_table}}
  </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="th-assessment">Assessment</th>
          <th scope="col" class="th-outcome">Outcome</th>
          {{#isyear12andhsc}}
            <th scope="col" class="th-rank">Rank</th>
          {{/isyear12andhsc}}
          <th scope="col" class="th-feedback">Feedback</th>
        </tr>
      </thead>
      <tbody>
        {{#modules}}




          {{^iseffort}}
            <tr data-gradeitemid="{{itemid}}">
              <td scope="row" class='cgsfeedback-module-title'>
                {{#moduleurl}}
                  <a href="{{{moduleurl}}}" target="_blank" title="Go to {{modulename}}"><strong>{{modulename}}</strong> <i class="fa fa-external-link"></i></a>
                {{/moduleurl}}
                {{^moduleurl}}
                  <strong>{{modulename}}</strong>
                {{/moduleurl}}
              </td>
              <td class="outcome-cell" {{#colspan}}colspan="{{colspan}}"{{/colspan}}>
                {{^hasoutcomes}}{{^iseffort}}
                  {{finalgrade}}
                {{/iseffort}}{{/hasoutcomes}}
                {{#hasoutcomes}}
                  <div class="outcomes">
                    {{#outcomes}}
                      <div class="outcome" data-gradeitemid="{{itemid}}">
                        <div class="outcome-th {{thclasses}}" data-tippy-content="{{tip}}">{{letter}}</div>
                        <div class="outcome-td" data-grade="{{grade}}" data-tippy-content="{{scaletip}}">{{scaleword}}</div>
                      </div>
                    {{/outcomes}}
                  </div>
                {{/hasoutcomes}}
              </td>
              {{#isyear12andhsc}}
                <td>{{rank}}</td>
              {{/isyear12andhsc}}
              {{^colspan}}<td>{{{feedback}}}</td>{{/colspan}}
            </tr>
          {{/iseffort}}

        {{/modules}}

      </tbody>
    </table>
  </div>
</div>
{{/courses}}